#footer-center{
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    text-align: center;
    width: 60px;
}

h6 { margin-bottom: 0 !important; }
p { margin-top: 0 !important; margin-bottom: 0 !important; }

li { list-style-type: disc; }

.side-by-side {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 45% !important;
}

.line-4 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    max-width: 20% !important;
}

.light { color: #DDD; }

img[alt=iowa] { max-width: 55% }
img[alt=iowa-s3] { max-width: 40%; }
img[alt=tiles] { max-width: 75%; }
img[alt=geyser] { max-width: 40%; }
img[alt=nepal-layers] { max-width: 80%; }
img[alt=quadtree-splitting] { max-width: 35%; }
img[alt=kd-tree] { max-width: 25%; }
img[alt=octree-splitting] { max-width: 52%; }
img[alt=morton-ordering] { max-width: 25%; }
img[alt=z-order-four-levels] { max-width: 20%; }
img[alt=quadtree-pyramid] { max-width: 30%; }
img[alt=query] { max-width: 15%; }

tbody { font-size: 2.8vh !important; }

img[alt=first-worker-done] {
    box-shadow: 0px 0px 2px;
    margin-top: 25px !important;
}

img[alt=linearization] { box-shadow: 0px 0px 2px; }
img[alt=hops] { box-shadow: 0px 0px 2px; }

video[alt=zoom] { max-width: 50%; }

.small-code { font-size: 2.2vh !important; }
.formula { font: monospace; font-size: 4vh !important; }

#query-properties {
    margin-top: 3vh;
}

.infinity {
    font-size: 4vh !important;
}

